<div{{ attributes.addClass('gate-calculator-block') }}>
  {{ title_prefix }}
  {% if label %}
    <h2{{ title_attributes }}>{{ label }}</h2>
  {% endif %}
  {{ title_suffix }}
  
  {# Скрытые поля формы #}
  {{ form_build_id }}
  {{ form_id }}
  {{ form_token }}
  
  <div class="calculator-block-container">
    <div class="cbc-left">
      {{ image }}
      
      {# Чекбоксы типа ворот - кастомная версия #}
      <div class="form-row gate-type-checkboxes">
        <label class="form-label">{{ 'Тип ворот'|t }}</label>
        <div class="checkboxes-wrapper">
          {% set gate_options = {
            'console': 'Консольные',
            'swing': 'Распашные', 
            'sliding': 'Откатные',
            'folding': 'Раскладные'
          } %}
          {% for key, option in gate_options %}
            <div class="checkbox-item">
              <input type="radio" 
                     name="tip_vorot" 
                     value="{{ key }}" 
                     id="tip-vorot-{{ key }}"
                     {{ key == 'console' ? 'checked' : '' }}
                     class="gate-type-checkbox">
              <label for="tip-vorot-{{ key }}" class="checkbox-label">
                <span class="checkbox-custom"></span>
                {{ option }}
              </label>
            </div>
          {% endfor %}
        </div>
      </div>

      {{ calculated_price }}
    </div>

    {# Правая часть с полями формы #}
    <div class="cbc-right">
      <div class="cbcr-box">
        {# Ширина #}
        <div class="size-field">
          {{ shirina_vorot }}
        </div>
        
        {# Калитка #}
        <div class="form-row">
          {{ kalitka }}
        </div>
        
        {# Автоматика #}
        <div class="form-row">
          {{ avtomatika }}
        </div>
        
        {# Заливка основания #}
        <div class="form-row">
          {{ zalivka_osnovaniya }}
        </div>
      </div>

      <div class="cbcr-box">
        {# Высота #}
        <div class="size-field">
          {{ vysota_vorot }}
        </div>
        
        {# Покраска #}
        <div class="form-row">
          {{ pokraska }}
        </div>
        
        {# Заполнение #}
        <div class="form-row">
          {{ zapolnenie }}
        </div>
        
        {# Заливка стоек #}
        <div class="form-row">
          {{ zalivka_stoek }}
        </div>
      </div>
    </div>
  </div>

  {# Футер с кнопками #}
  <div class="block-footer">
    <div class="submit-button">
      {{ submit }}
    </div>
    <div class="oz-button">
      <a class="use-ajax btn-form btn btn-primary" 
         data-dialog-type="modal"  
         data-dialog-options='{"width":"360px", "title":"Заказать оценку"}' 
         href="/form/zakazat-ocenku?width=500&height=500">
        Заказать оценку
      </a>
    </div>
  </div>
</div>